<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel-login panel">
            <div class="panel-heading">
                <div class="row mb_20 headerTitle">
                    <h3>Register</h3>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <div id="contact_form">
                    <form #useForm="ngForm" class="bg-light p-5 user-form" (ngSubmit)='saveUser(userform.value)'>
                        <input class="full-with-form " type="text" name="first name" placeholder="fName" [(ngModel)]="user.fName" [ngModelOptions]="{standalone:true}" />

                        <input class="full-with-form " type="text" name="last name" placeholder="lName" [(ngModel)]="user.lName" [ngModelOptions]="{standalone:true}" />

                        <input class="full-with-form  mt_30" type="email" name="email" placeholder="email" [(ngModel)]="user.email" [ngModelOptions]="{standalone:true}" />
                        <input class="full-with-form  mt_30" type="password" name="pwd" placeholder="password" [(ngModel)]="user.pwd" [ngModelOptions]="{standalone:true}" />
                        <input class="full-with-form  mt_30" type="password" name="confirmPwd" placeholder="confirm password" [(ngModel)]="user.confirmPwd" [ngModelOptions]="{standalone:true}" />

                        <button class="btn mt_30" type="submit">Add user</button>
                    </form>
                    <div id="contact_results"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>