<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel-login panel">
            <div class="panel-heading">
                <div class="row mb_20 headerTitle">
                    <h3> Signin </h3>
                </div>
                <hr>
            </div>
            <div id="signin_form">
                <form #loginForm="ngForm" class="bg-light p-5 montre-form" (ngSubmit)='login(loginForm.value)'>

                    <input class="form-control" style="margin-top: 10px;" type="email" placeholder="Email" [(ngModel)]="model.email" [ngModelOptions]="{standalone:true}">


                    <input class="form-control" style="margin-top: 10px; margin-bottom: 10px;" type="password" placeholder="Passeword" [(ngModel)]="model.password" required [ngModelOptions]="{standalone:true}">

                    <div class="col-sm-6 col-sm-offset-3">
                        <button class="form-control btn btn-login" style="margin-bottom: 10px;" type="submit"> Signin </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>